{% extends "base.html" %}

{% block header %}
<p class="title is-1">Tijd inscannen</p>
{% endblock %}

{% block content %}
<div class="main-column-centered box">
  <form method="POST">
    
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Barcode</label>
      </div>
      <div class="field-body">
        <div class="field is-expanded">
          <div class="control">
            <input class="input" type="text" name="barcode">
          </div>
        </div>
      </div>
    </div>

    <hr>
    <div class="flex-center">
      <button class="button is-block is-info is-light is-medium">
        <span class="icon is-medium"><i class="fas fa-plus"></i></span>
        <span>Toevoegen</span>
      </button>
    </div>
  </form>
</div>
{% endblock %}