{% extends "base.html" %}

{% block header %}
<p class="title is-1">Tijd inscannen</p>
{% endblock %}

{% block content %}
<div class="main-column-centered box">
  <form action="POST" onsubmit="scan_ajax_submit();return false;">
    <div class="field is-horizontal mb-0">
      <div class="field-label is-normal">
        <label class="label">Barcode</label>
      </div>
      <div class="field-body">
        <div class="field is-expanded">
          <div class="control">
            <input id="barcode" class="input" type="text" name="barcode">
          </div>
        </div>
      </div>
    </div>
    <script>
      $("#barcode").focus();
    </script>
  </form>
</div>
<div id="notification-list" class="main-column-centered">
</div>
{% endblock %}