<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex,nofollow">
  <title>Hardlopen Scanner</title>
  <!-- <script rel="preload" src="https://kit.fontawesome.com/e2b7318c5c.js" crossorigin="anonymous"></script> -->
  <link rel="stylesheet" href="/static/css/fontawesome-free@6.4.0-all.min.css">
  <link rel="stylesheet" href="/static/css/bulma@0.9.4.min.css">
  <link rel="stylesheet" href="/static/css/bulma-tooltip@1.2.0.min.css">
  <link rel="stylesheet" href="/static/css/hardlopen.css">
  <script src="/static/js/jquery@3.6.3.min.js"></script>
  <script src="/static/js/jquery-confirm@3.3.4.min.js"></script>
  <link rel="stylesheet" href="/static/css/jquery-confirm@3.3.4.min.css">
  <script src="/static/js/luxon@3.3.0.min.js"></script>
  <script src="/static/js/hardlopen.js"></script>
</head>

<body>
  <nav class="navbar is-white" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <!-- <div class="navbar-item logo">
        <a href="/"><img src="https://ra.nl/Logo_Rotterdam_Atletiek.svg" width="50" height="50"></a>
      </div> -->
      <a href="{{ url_for('main.deelnemers') }}" class="navbar-item">
        <span class="icon is-small"><i class="fa fa-user"></i></span>
        <span>Deelnemers</span>
      </a>
      <a href="{{ url_for('main.uitslag_list') }}" class="navbar-item">
        <span class="icon is-small"><i class="fa fa-list-ol"></i></span>
        <span>Uitslagen</span>
      </a>
      <a href="{{ url_for('main.tijd_scan') }}" class="navbar-item">
        <span class="icon is-small"><i class="fa fa-barcode"></i></span>
        <span>Scannen</span>
      </a>
      <div class="navbar-item">
        <span class="icon is-small"><i class="fa fa-clock"></i></span>
        <live_clock>00:00:00</live_clock>
      </div>
      <a id="start_clock" class="navbar-item">
        <span class="icon is-small"><i class="fa fa-play"></i></span>
        <span>Start klok</span>
      </a>
    </div>
  </nav>
  <section class="hero is-white">
    <div class="hero-body pt-2 pb-5">
      <div class="container has-text-centered">
        <div class="content is-medium">
          {% block header %}
          {% endblock %}
        </div>
      </div>
    </div>
  </section>
  <section class="section pt-3">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="message-column-centered">
      <div class="notification has-text-centered is-{{messages[0][0]}}">
        {{messages[0][1]}}
      </div>
    </div>
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
  </section>
</body>

</html>